ICON 99  PRELOAD PGPKeys.ico
BITMAP 100 PRELOAD .\buttons\line.bmp
BITMAP 101  PRELOAD .\buttons\NewKeyPair.bmp
BITMAP 102  PRELOAD .\buttons\revoke.bmp
BITMAP 103  PRELOAD .\buttons\sign.bmp
BITMAP 104  PRELOAD .\buttons\delete.bmp
BITMAP 105  PRELOAD .\buttons\KeySearch.bmp
BITMAP 106  PRELOAD .\buttons\SendKey.bmp
BITMAP 107  PRELOAD .\buttons\ImportKey.bmp
BITMAP 108  PRELOAD .\buttons\ExportKey.bmp
